<ion-app>
    <ion-menu swipeGesture="false" contentId="main-content">
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="true">

                    <ion-item [routerDirection]="'root'"
                              routerLink="/auth/login">
                        Login
                    </ion-item>
                    <ion-item [routerDirection]="'root'"
                              routerLink="/about">
                        About
                    </ion-item>
                </ion-menu-toggle>

            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
